body {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  width: 100%;
  height: 160px;
}

body header .logo {
  width: 50px;
  font-style: #D04F4F;
  margin-top: 50px;
}

body header h1 {
  margin: 0px;
  color: #D04F4F;
}

body .search {
  width: 90%;
  max-width: 1100px;
}

#tagList {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 90%;
  max-width: 1100px;
  margin-bottom: 10px;
}

#tagList .tag {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  color: white;
  border-radius: 4px;
  margin: 2px;
  padding-left: 10px;
  padding-right: 10px;
}

#tagList .Blue {
  background-color: #3282F7;
  border: 1px solid #3282F7;
}

#tagList .Green {
  background-color: #68D9A4;
  border: 1px solid #68D9A4;
}

#tagList .Red {
  background-color: #ED6454;
  border: 1px solid #ED6454;
}

#tagList .closeBtn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 20px;
  width: 20px;
  border: 2px solid white;
  border-radius: 30px;
  margin-left: 10px;
  padding-bottom: 5px;
}

.filtres {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1100px;
}

.filtres .btn-group {
  margin-right: 15px;
  height: 50px;
}

.filtres .btn-group .menuDisplayON {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.filtres .btn-group #blueBtn {
  background-color: #3282F7;
  border-color: #3282F7;
}

.filtres .btn-group .bluePush {
  width: 700px;
}

.filtres .btn-group #blueMenu {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  background-color: #3282F7;
  border-color: #3282F7;
  width: 700px;
}

.filtres .btn-group #blueMenu .inputDrop {
  height: 30px;
  margin-left: 10px;
}

.filtres .btn-group #blueMenu .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 1000px;
  width: 300px;
  z-index: 3;
}

.filtres .btn-group #blueMenu .dropdown-item {
  color: white;
  list-style-type: none;
}

.filtres .btn-group #blueMenu .dropdown-item:hover {
  color: black;
}

.filtres .btn-group #greenBtn {
  background-color: #68D9A4;
  border-color: #68D9A4;
}

.filtres .btn-group .greenPush {
  width: 180px;
}

.filtres .btn-group #greenMenu {
  width: 180px;
  background-color: #68D9A4;
  border-color: #68D9A4;
}

.filtres .btn-group #greenMenu #greenInput {
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

.filtres .btn-group #greenMenu .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 1000px;
  width: 300px;
  z-index: 3;
}

.filtres .btn-group #greenMenu .dropdown-item {
  color: white;
}

.filtres .btn-group #greenMenu .dropdown-item:hover {
  color: black;
}

.filtres .btn-group #redBtn {
  background-color: #ED6454;
  border-color: #ED6454;
}

.filtres .btn-group #redBtn .hidden {
  display: none;
}

.filtres .btn-group .redPush {
  width: 300px;
}

.filtres .btn-group #redMenu {
  width: 300px;
  background-color: #ED6454;
  border-color: #ED6454;
}

.filtres .btn-group #redMenu .inputDrop {
  height: 30px;
  width: 150px;
  margin-left: 10px;
}

.filtres .btn-group #redMenu .show {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  max-height: 100px;
  width: 300px;
}

.filtres .btn-group #redMenu .dropdown-item {
  color: white;
}

.filtres .btn-group #redMenu .dropdown-item:hover {
  color: black;
}

li {
  list-style: none;
}

#result {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 90%;
  max-width: 1150px;
  max-height: 70vh;
  padding-top: 40px;
}

#result .card {
  margin-bottom: 30px;
  height: 364px;
  width: 380px;
}

#result .card img {
  max-height: 178px;
}

#result .card .cardBody {
  height: 186px;
}

#result .card .cardBody__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 40px;
  border-bottom: 1px solid black;
}

#result .card .cardBody__title--left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  width: 280px;
}

#result .card .cardBody__title--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-left: 10px;
  width: 100px;
}

#result .card .cardBody__infos {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 140px;
  padding-top: 10px;
}

#result .card .cardBody__infos--left {
  width: 190px;
  padding-left: 10px;
  font-size: 10px;
}

#result .card .cardBody__infos--right {
  padding-left: 10px;
  width: 190px;
  overflow-y: scroll;
  font-size: 10px;
}
/*# sourceMappingURL=styles.css.map */