body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: white;
  width: 100%;
  height: 160px;

  .logo {
    width: 50px;
    font-style: #D04F4F;
    margin-top: 50px;
  }

  h1 {
    margin: 0px;
    color: #D04F4F;
  }
}

.search {
  width: 90%;
  max-width: 1100px;
}

#tagList{
  display: flex;
  width: 90%;
  margin-bottom: 10px;
  .tag{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    max-width: 200px;
    height: 40px;
    color: white;
    border-radius: 4px;
    margin: 2px;
    padding: 10px;
  }
  .Blue{
    background-color: #3282F7;
    border: 1px solid #3282F7;
  }
  .Green{
    background-color: #68D9A4;
    border: 1px solid #68D9A4;
  }
  .Red{
    background-color: #ED6454;
    border: 1px solid #ED6454;
  }
}

.closeBtn{
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  
  height: 20px;
  width: 20px;
  border: 3px solid white;
  border-radius: 30px;
  margin-left: 10px
}

.filtres {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1100px;
}

.hidden{
  display: none;
}

.push{
  width: 290px;
}

.show{
  display: flex;
  flex-wrap: wrap;
  max-height: 1000px;
  width: 300px;
  z-index: 3;
}

.btn-group{
  margin-right: 15px;
  height: 50px;
}

.inputDrop{
  margin-left: 10px;
  width: 250px;
}

#btnIngredients{
  background-color: #3282F7;
  border-color: #3282F7;
}

#menuIngredients{
  background-color: #3282F7;
  border-color: #3282F7;
  .dropdown-item{
    color: white;
    &:hover{
      color: black;
    }
  }
}

#btnAppareils{
  background-color: #68D9A4;
  border-color: #68D9A4;
}

#menuAppareils{
  background-color: #68D9A4;
  border-color: #68D9A4;
  .dropdown-item{
    color: white;
    &:hover{
      color: black;
    }
  }
}

#btnUstensiles{
  background-color: #ED6454;
  border-color: #ED6454;
}

#menuUstensiles{
  background-color: #ED6454;
  border-color: #ED6454;
  .dropdown-item{
    color: white;
    &:hover{
      color: black;
    }
  }
}

#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 1150px;
  max-height: 70vh;
  padding-top: 40px;
  overflow-y: scroll;
  .card{
    margin-bottom: 30px;
    .body-text{
      overflow-y: scroll;
      max-height: 160px;
    }
  }
}
