body {
  margin: 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  header {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    width: 100%;
    height: 160px;

    .logo {
      width: 50px;
      font-style: #D04F4F;
      margin-top: 50px;
    }

    h1 {
      margin: 0px;
      color: #D04F4F;
    }
  }

  .search {
    width: 90%;
    max-width: 1100px;
  }
}


// #############################################################################
// TAGS
#tagList {
  display: flex;
  width: 90%;
  max-width: 1100px;
  margin-bottom: 10px;

  .tag {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    height: 40px;
    color: white;
    border-radius: 4px;
    margin: 2px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .Blue {
    background-color: #3282F7;
    border: 1px solid #3282F7;
  }

  .Green {
    background-color: #68D9A4;
    border: 1px solid #68D9A4;
  }

  .Red {
    background-color: #ED6454;
    border: 1px solid #ED6454;
  }

  .closeBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 20px;
    width: 20px;
    border: 2px solid white;
    border-radius: 30px;
    margin-left: 10px;
    padding-bottom: 5px;
  }
}


// #############################################################################
// FILTRES + DROPDOWN
.filtres {
  display: flex;
  align-items: center;
  width: 90%;
  max-width: 1100px;

  .btn-group {
    margin-right: 15px;
    height: 50px;

    .menuDisplayON {
      display: flex;
      flex-wrap: wrap;
    }

    #blueBtn {
      background-color: #3282F7;
      border-color: #3282F7;
    }

    .bluePush {
      width: 700px;
    }

    #blueMenu {

      .inputDrop {
        height: 30px;
        margin-left: 10px;
      }

      .show {
        display: flex;
        flex-wrap: wrap;
        max-height: 1000px;
        width: 300px;
        z-index: 3;
      }

      flex-wrap: wrap;
      background-color: #3282F7;
      border-color: #3282F7;
      width: 700px;

      .dropdown-item {
        color: white;
        list-style-type: none;

        &:hover {
          color: black;
        }
      }
    }

    #greenBtn {
      background-color: #68D9A4;
      border-color: #68D9A4;
    }

    .greenPush {
      width: 180px;
    }

    #greenMenu {
      #greenInput {
        height: 30px;
        width: 150px;
        margin-left: 10px;
      }

      .show {
        display: flex;
        flex-wrap: wrap;
        max-height: 1000px;
        width: 300px;
        z-index: 3;
      }

      width: 180px;
      background-color: #68D9A4;
      border-color: #68D9A4;

      .dropdown-item {
        color: white;

        &:hover {
          color: black;
        }
      }
    }

    #redBtn {
      background-color: #ED6454;
      border-color: #ED6454;

      .hidden {
        display: none;
      }
    }

    .redPush {
      min-width: 300px;
    }

    #redMenu {
      .inputDrop {
        height: 30px;
        width: 150px;
        margin-left: 10px;
      }

      .show {
        display: flex;
        flex-wrap: wrap;
        max-height: 100px;
        width: 300px;
      }

      min-width: 300px;
      background-color: #ED6454;
      border-color: #ED6454;

      .dropdown-item {
        color: white;

        &:hover {
          color: black;
        }
      }
    }
  }
}

li {
  list-style: none;
}


// #############################################################################
// MAIN RESULT
#result {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
  width: 90%;
  max-width: 1150px;
  max-height: 70vh;
  padding-top: 40px;

  .card {
    margin-bottom: 30px;
    height: 364px;
    width: 380px;

    img {
      max-height: 178px;
    }

    .cardBody {
      height: 186px;

      &__title {
        display: flex;
        height: 40px;
        border-bottom: 1px solid black;

        &--left {
          display: flex;
          align-items: center;
          padding-left: 10px;
          width: 280px;
        }

        &--right {
          display: flex;
          align-items: center;
          padding-left: 10px;
          width: 100px;
        }
      }

      &__infos {
        display: flex;
        height: 140px;
        padding-top: 10px;

        &--left {
          width: 190px;
          padding-left: 10px;
          font-size: 10px;
        }

        &--right {
          padding-left: 10px;
          width: 190px;
          overflow-y: scroll;
          font-size: 10px;
        }
      }
    }
  }
}